*{
    padding: 0;margin: 0;
    /* box-sizing: border-box; */

}
nav{
    height: 60px;
    width: 100%;
    line-height: 60px ;
    background:  transparent;
    

}
nav img{
    height: 100px;
    width: 150px;
    line-height: 60px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: -25px;
}
nav ul {
    float: right;
    margin-right: 60px;


}
nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-right:25px;
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;

}

nav ul li a:hover{
   background-color: orangered;
   border-radius: 50%;
   color: white;
}

.main{
    background-image: url('1.jpg');
    background-position: center;
    width: 100%;
    height: 650px;

    background-size: cover;
    /* position: absolute;
     */

    }
    .main section{
        position: relative;
        top: 35%;
        left: 15%;
    }
    .main section h1{
        color: white;
        font-family: sans-serif;
        font-weight: bold;

    }
    .main section p{
        color: rgb(166, 205, 218);
        font-size: 20px;
        word-spacing: 5px;

    }
    .main section button{
        margin-top: 15px;
        font-weight: bold;
        color: white;

    }
    #btn{
        width: 850px;
    }
    #btn button{
        background-color: rgb(240, 232, 232);
        color: black;
        margin-top: 30px;
        padding-left: 10px;
        margin-right: 30px;

    }
    .main section h1{
        width: 650px;
        display: inline-block;
    }
    .main section p{
        width: 850px;
        display: inline-block;

    }
    .main section{
        width: 650px;
        display: inline-block;

    }


/* Conter */

#count{
    width: 100px;
    height: 80px;
    display: inline-block;
    background-color: darkseagreen;
    text-align: center;
    margin-left: 90%;
    position: sticky;   
}



    #btn .btn:hover{
        background-color: orangered;
    }
    #sec2 .card img{
        width: 250px;
        height: 250px;
    }
    #sec2 .card{
        width: 250px;
        transition: ease 0.3s;
    }
    #sec2 .card:hover{
        /* transform:rotate(10deg); */
    /* transform:scale(1.2) ; */
    /* transform:skewY(20deg); */
    transform:translateX(20px);

    }

    #sec2 .Hide{
        display: none;
    }

    #courseTitle{
        text-align: center;
        margin-top: 80px;
        text-transform: uppercase;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-decoration: underline;
    }
    #sec2 {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-left: 100px;
        margin-top: 80px;
        /* position: absolute; */
    }

    #sec2 .card{
        height: 360px;
        margin-right: 100px;
    }
    #sec2 .card button{
        width: 150px;
        margin-top: 5px;
        text-align: center;
       margin-left: 50px;

    }

    #sec3 {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-left: 100px;
        margin-top: 80px;
        /* position: absolute; */
    }

    #sec3 .card2{
        /* width: 250px; */
        height: 200pxpx;
        margin-right: 100px;
        text-align: center;
    }
    #sec3 .card2 button{
        width: 150px;
        margin-top: 10px;
        text-align: center;
       margin-left: 50px;
    }
    .ad{
        margin-top: 50px;
        text-align: center;
    }

    #sec3 .card2 p{
        text-align: center;
    }

    #sec3 .card2 button{
        margin-right: 40px;
    }

.col-md-6 img{
width: 150px;
height: 120px;
margin-top: 25px;
}
.div{
height:450px ;
margin-top: 150px;
background-color: rgb(188, 210, 212);
}

.col-md-6{
margin-top: 50px;
}
.col-md-6 h1{
margin-top: 25px;
margin-left: 100px;
font-family: sans-serif;
}
.col-md-6 p{
margin-left: 100px;
}
.col-md-6 button{
margin-left: 100px;
margin-top: 30px;
}

.col-a a{
color: red;
font-size: 20px;
font-family: sans-serif;
margin-bottom: -10px;
}
.carousel-item{
width: 350px;
}
.cont1{
text-align: center;
margin-top: 80px;
height: 200px;
background-color: red;
width: 100%;
color: white;
}

.cont1 .row .col-md-4 {
margin-top: 50px;
}

.contPlacement{
margin-top: 100px;
text-align: center;
}
.contPlacement .placementTitle{
margin-bottom: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: underline red;
} 
.contPlacement .col-md-4{
font-family: sans-serif;
}

.clientAndRecruiter{
height: 350px;
margin-top: 100px;
background-color: rgb(233, 241, 243);

}

.clientAndRecruiter img{
margin-left: 100px;
height: 200px;
width: 200px;
display: inline-block;
justify-content: space-around;
flex-direction: column;
padding-right: 50px;
}
.clientAndRecruiter h1{
text-align: center;
margin-bottom: 50px;
text-decoration: underline red;
}



.footer{
    margin-top: 50px;
    color: white;
    background-color: black;
    height: 380px;
}
.footer .row p{
    margin-right: 15px;
}

.footer .row .col-md-4, .col-md-2{
    margin-top: 50px;
}

.footer ul li {
    list-style-type: none;
}

.footer .rights{
    margin-top: 30px;
    text-align: center;
}
.footer .rights h4{
    /* display: inline-block; */
    margin-left: 590px;
    margin-top: 10px;
    font-size: 15px;
}

.footer .rights i{
padding-right: 20px;
}

.bold .col1 h1, p {
    margin-top: 20px;
    margin-left: -20px;
}



/*  Courses Page */

.Cmain{
    width: 100%;
    height: 320px;
    background-image: url('bitcode_java_classes_pune.jpg');
background-position:top;
background-repeat: no-repeat;
background-size: cover;
}

#Ctitle{
display: inline-block;
margin-top: 25px;
margin-left: 25px;
}

.courses{
    
    margin-top: 50px;
}
.courses .row .col-md-3{
    background-color: #e9b7b7;;
    margin-right: 50px;
    text-align: center;
}

.courses .row .col-md-3 ul li{
    list-style-type: none;
}
.courses .row .col-md-3 h4{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* DAMD PAge */

.Dmain{
    width: 100%;
    height: 280px;
    background-color: lightgray;
}

.Dcontent {
   margin-left: 30px;
   padding: 20px;
}

.Dnav{
    width: 100%;
    height: 60px;
    background-color: rgb(232, 239, 247);
}

.Dnav ul{
    margin-left: 40px;
    line-height: 40px;
}

.Dnav ul li{
    display: inline-block;
    padding: 10px;
}
.Dnav ul li a{
    text-decoration: none;
    color: black;
}

/* hover effect on li  */

.Dnav ul li a:hover{
 
    background-color: orangered;
    border-radius: 3px;
    padding: 5px;
}

.Objective{
    height: 200px;
    text-align: center;
}

.Objective .con{
padding-top: 60px;

}

.Objective h1{
    font-size: 50px;
    font-weight:200;
    display: inline-block;
}

.cModule {
    width: 100%;
    margin-top: 100px;
}

.cModule h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;

}

.cmoduleMain{
    background-color: rgb(241, 235, 235);
}

.cModule .row .col-md-3 .fa-3x{
   
    margin: 10px;
}
.cModule .row .col-md-3 p:hover{
    color: red;

}

.cModule .row .col-md-3{
   margin-right: 1px;
    text-align: center;
    margin-top: 1px;
}

.cModule .row .col-md-3:hover{
    background-color: lightgray;
}

.targetAud{
    margin-top: 50px;
    text-align: center;
}

.targetAud h1{
    font-family: sans-serif;
    font-size: 45px;
}

.targetAud p{
    font-size: 20px;
    font-weight: 400;
}

.courseHighlight{
    margin-top: 100px;
    background-color: lightyellow;
    
}

.courseHighlight .row .col-md-3 img{
    width: 460px;
    height: 480px;
    margin-left: -15px;
    /* margin-top: 20px; */
}

.courseHighlight .offset-md-1 h3{
    text-align: center;
    font-size: 35px;
}

.courseHighlight p{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
    
}

.facilies{
    height: 150px;
    margin-top: 80px;
    text-align: center;
    line-height: 150px;
}

/* review  */

.review{
    margin-top: 100px;
    text-align: center;
}

.review .card{
    height: 250px;
    background-color: linen;

}

.review h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
} 

.review .card i{
    margin-top: 40px;
   margin-right: 10px;

}
.place{
    margin-top: 50px;
}
.place h1{
    text-align: center;
}

.place .pBlock{
    height: 100px;
    background-color: mediumaquamarine;
    width: 100px;
    text-align: center;
    margin-right: 5px;
}

.place .pBlock p{
    margin-top: 40px;
    font-size: 20px;
}



/* Client Page */
.client{
    height: 600px;
    margin-top: -50px;
}
.client img{
    width: 200px;
    height: 100px;
}

.client .row{
    margin-left: 65px;
    margin-top: -30px;
}

.client h1{
    margin-top: 30px;
}


/* Placeemnt Page */

.Placementmain{
    height: 350px;
    background-color: lightgray;
}

.pNav{
    height: 60px;
background-color: aliceblue;    
}

.pNav ul{
    margin-left: 100px;
}
.pNav ul li{
    display: inline-block;
    line-height: 60px;
    margin-right: 100px;
    
}
.pNav ul li a{
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.placementPage{
    height: 1050px;
    background-color:lightgray;
}

.placementPage .row{
    margin-left: 25px;
    margin-top: 5px;
}

.placementPage h4,h6{
color: rgb(224, 34, 34);
}

.whyBit h1{
    text-align: center;
}
.whyBit {
   margin-top: 25px;
}

.whyBit h5{
    color: rgb(224, 34, 34);
    margin-bottom:25px ;
}

.whyBit h1,h5,ul{
margin-left: 50px;
}

/* About us */

.about{
    height: 350px;
    font-size: 35px;
    word-spacing: 5px;
    text-align: center;
}
.about .col-xl-10 {
    margin-top: 50px;
}

.about .col-xl-10 span {
color: red;
font-size: 50px;
}

.img .col-xl-12 img{
    width: 100%;
}

.whyStarted h5{
    margin-top: 50px;
    margin-left: 98px;
    margin-bottom: 20px;
    color: red;

}

.whyStarted .start p{
    word-spacing: 5px;
    font-size: 20px;
}
.whyStarted .begin h3{
    margin-left:100px ;
    margin-bottom: 25px;

}

.bold{

    margin-top: 50px;
}
.bold .col1 h1,p{
    margin-top: 20px;
   margin-left: 50px;
}
.bold .col2 blockquote{
    font-size: 25px;
    font-family: monospace;
    margin-top: 50px;
    font-weight: bold;
}

.bold .col2 figcaption{
    font-size: 15px;
    font-weight: bold;
}

/* founders */

.founder{
    margin-top: 80px;
}

.founder .col-xl-6{
    text-align: center;
    box-shadow: 1px 5px 0.5px grey;
}

.founder .col-xl-6 h5{
    margin-top: 20px;
    margin-right: 50px;
    color: red;
}

.sizeM{
    margin-top: 80px;
}

.sizeM .col-xl-6 h2{
    margin-left: 50px;
    margin-top: 20px;
}
.sizeM .col-xl-6 h3{
margin-left: 45px;
margin-top: 100px;
}

.meetC{
    margin-top: 80px;
}

.meetC h6{
    margin-top: 180px;
}

.contact{
    margin-top: 80px;
}

.contact h6{
    margin-left: 50px;
}
.contact h2{
    margin-bottom: 60px;
    color: red;
}
.contact p,i,span{
margin-left: 20px;   

}

.form form input{
    width: 450px;
}

.form form{
    margin-left: 50px;
    
}

.form .col-xl-5{
    height: 650px;
    margin-top: 100px;
}

.map{
    width: 100%;
    height: 450px;
}